:root {
  --border-color: #000;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;

  flex-wrap: wrap;
}

.timer {
  display: block;
  width: 20%;
  height: 20%;
  background-color: rgb(255, 255, 255);

  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-collapse: collapse;
}

.options-wrapper {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.options {
  width: 20%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}

.col,
.cell,
.row {
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.cols {
  display: grid;
  grid-template-rows: 1fr;
  width: 80%;
  height: 20%;

  background-color: rgb(40, 122, 122);
}

.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.cols-15 {
  grid-template-columns: repeat(15, 1fr);
}

.cols-20 {
  grid-template-columns: repeat(20, 1fr);
}

.rows {
  display: grid;
  grid-template-columns: 1fr;
  width: 20%;
  height: 80%;

  background-color: antiquewhite;
}

.rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.rows-10 {
  grid-template-rows: repeat(10, 1fr);
}

.rows-15 {
  grid-template-rows: repeat(15, 1fr);
}

.rows-20 {
  grid-template-rows: repeat(20, 1fr);
}

.cells {
  position: relative;
  display: grid;
  width: 80%;
  height: 80%;

  box-sizing: border-box;
  background-color: transparent;
}

.cells-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.cells-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cells-15 {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid var(--border-color);
}

.col p {
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-left: 2px solid var(--border-color);
}

.cell {
  background: #fff;
}

.fill {
  background-color: #000;
}

.cross {
  background: 
    linear-gradient(to top left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) calc(50% - 2px),
        rgb(0, 0, 0) 50%,
        rgba(255, 255, 255, 0) calc(50% + 2px),
        rgba(255, 255, 255, 0) 100%),
    linear-gradient(to top right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) calc(50% - 2px),
        rgba(0,0,0,1) 50%,
        rgba(255, 255, 255, 0) calc(50% + 2px),
        rgba(255, 255, 255, 0) 100%);
}

p {
  padding-right: 10px;
  margin: 0;

  font-size: 26px;
 }