:root {
  --border-color: #000;
  --background-light: rgba(202, 202, 202, 0.541);
  --background-white: rgb(255, 255, 255);
  --background-transparent: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;

  padding: 0 30px 30px 30px;

  background-color: var(--background-light);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.theme {
  width: 50px;
  height: 50px;
}

.light {
  background-image: url('./assets/svg/light.svg');
}

.dark {
  background-image: url('./assets/svg/dark.svg');
}

.container {
  display: flex;
  width: 500px;
  height: auto;
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;

  align-self: center;
  justify-self: center;
}

.timer {
  display: flex;
  width: 20%;
  height: 20%;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-collapse: collapse;

  font-size: 20px;
}

.options-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.options {
  width: 15%;
  background-color: var(--background-light);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}

.button {
  width: 20%;
}

.col,
.cell,
.row {
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.cols {
  display: grid;
  grid-template-rows: 1fr;
  width: 80%;
  height: 20%;
}

.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.cols-15 {
  grid-template-columns: repeat(15, 1fr);
}

.cols-20 {
  grid-template-columns: repeat(20, 1fr);
}

.rows {
  display: grid;
  grid-template-columns: 1fr;
  width: 20%;
  height: 80%;
}

.rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.rows-10 {
  grid-template-rows: repeat(10, 1fr);
}

.rows-15 {
  grid-template-rows: repeat(15, 1fr);
}

.rows-20 {
  grid-template-rows: repeat(20, 1fr);
}

.cells {
  position: relative;
  display: grid;
  width: 80%;
  height: 80%;

  box-sizing: border-box;
  background-color: transparent;
}

.cells-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.cells-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cells-15 {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid var(--border-color);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--border-color);
}

.modal {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #aaaaaa75;
}

.modal-content {

  width: 100px;
  height: 100px;
}

.hint {
  width: 100%;
  text-align: center;
}

.col .hint {
  height: 100%;
}

.fill {
  background-color: var(--border-color);
}

.cross {
  background: 
    linear-gradient(to top left,
      var(--background-transparent) 0%,
      var(--background-transparent) calc(50% - 2px),
      var(--border-color) 50%,
      var(--background-transparent) calc(50% + 2px),
      var(--background-transparent) 100%),
    linear-gradient(to top right,
      var(--background-transparent) 0%,
      var(--background-transparent) calc(50% - 2px),
      var(--border-color) 50%,
      var(--background-transparent) calc(50% + 2px),
      var(--background-transparent) 100%);
}