:root {
  --border-color: #000;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;

  flex-wrap: wrap;
}

.timer {
  display: block;
  width: 20%;
  height: 20%;
  background-color: rgb(255, 255, 255);

  box-sizing: border-box;
  border: 2px solid var(--border-color);
  border-collapse: collapse;
}

#cells {
  position: absolute;
  z-index: -1;
}

.col,
.cell,
.row {
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  width: 80%;
  height: 20%;

  background-color: rgb(40, 122, 122);
}

.cols.col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 20%;
  height: 80%;

  background-color: antiquewhite;
}

.rows.row-10 {
  grid-template-rows: repeat(10, 1fr);
}

.cells {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
  height: 80%;

  box-sizing: border-box;
  background-color: transparent;
}

.cells.cells-10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}



.col {
  border-top: 2px solid var(--border-color);
}

.row {
  border-left: 2px solid var(--border-color);
}
/*.col,
.row {
  border: 2px solid var(--border-color);
  border-collapse: collapse;
}*/